# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
/.build/
/Packages/
/Package.resolved

# CocoaPods
/Pods/

# Carthage
/Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# User-specific
*.swp
*.lock
*.DS_Store
*.idea/
*.hmap
*.ipa

# Certificates / secrets
*.p12
*.mobileprovision
*.key
